.card-container {
    width: 90%;
    height: auto;
    margin: 0 auto;   
    padding: 10px;        
}
.card-container h1 {
    text-align: center;
    padding-top: 8px;
    text-transform: uppercase;
}

.cardPosts {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 10px; 
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.24);  
    transition: 1s ease;
}
.cardPosts:hover {
    transform: scale(1.05);
    transition: 1s ease;
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
}

.infos-user {
    display: flex;        
}
.imgCard {
    border-radius: 50px;
    border: 2px solid black;    
}


.infos-user h4 {
    margin-left: 20px;
    text-decoration: 1px underline black;
    text-underline-offset: 5px;
}

.infos-card {
    padding: 10px;
}
.infos-card h4 {
    text-transform: capitalize;    
}
.infos-card p:last-child {
    font-size: 0.5rem;
    font-weight: 900;
}

.btnAll {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.add-comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.comments-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;    
    gap:15px;
}


