.navbar {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
}

.logoDiv {
  padding-left: 10px;
}

.logoDiv:hover{
  animation: logoAnim 1s ease 0s infinite normal forwards;
}
@keyframes logoAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.connectionLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.register {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.login {
  text-transform: uppercase;
  text-decoration: none;
  color:black;
}

.connectionLinks h3 {
  margin-right: 5px;
  margin-left: 5px;
}

.imgLogo {  
  border: 2px solid lightgrey;
  border-radius: 50px;
  
}
