.navbar {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    -225deg,
    #dfffcd 0%,
    #90f9c4 48%,
    #39f3bb 100%
  );
}

.logoDiv:hover {
  animation: logoAnim 1s ease 0s infinite normal forwards;
}
@keyframes logoAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.connectionLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.login {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.logOut {
  text-transform: uppercase;
  text-decoration: none;
  color: black;    
}

.connectionLinks p {
  margin-left: 10px;
  margin-right: 10px;
}

.imgLogo {
  border: 2px solid lightgrey;
  border-radius: 50px;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #ffffff;
  width: 250px;
  height: 42px;
  border-radius: 5px;  
}

.logo-google {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnGoogle {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-googleOut {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  width: 200px;
  height: 42px;
  border-radius: 5px;
  margin: 10px auto;
}

.btnGoogleOut {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px;
}

.infos-google {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.imgAvatar {
  border-radius: 50px;
}