body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

#delete:hover {
  cursor: pointer;
}


 form {
  display:flex;
 }

#comment {
  width: 45vh;
  height: 32px;
  border: none;
  border-radius: 60px;
  background: #ededed;
  outline: none;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#show-comments{  
  border-radius: 20px;
  background: #ededed;
  height: auto;
  width: 80%;
  padding: 10px;
}

